@media only screen and (max-device-width: 600px) {

  * {
    -webkit-overflow-scrolling: touch;
  }

  html, body {
    font-size: 3vw;
  }

  .aacf {
    margin: 0;
    font-size: 7vw;
    display: block;
    position: fixed;
    left: 4.5vw;
  }

  .berkeley {
    font-size: 4vw;
    display: block;
    position: fixed;
    left: 4vw;
    line-height: normal;
    margin-top: 7vw;
  }

  .logo {
    display: block;
  }

  #hamburger {
    height: 5vw;
    width: 5vw;
    z-index: 100000;
    display: block;
    position: fixed;
    top: 4vw;
    right: 4vw;
    border: solid 2px white;
    border-radius: 1vw;
    padding: 5px;
    filter:brightness(100);
  }

  .tab {
    float: none;
    padding: 0;
    margin: 3vw 0 0 0;
    height: auto;
    text-align: right;
    top: auto;
    transform: none;
    display: block;
    position: static;
    width: auto;
  }

  .tab:hover {
    background-color: inherit;
  }

  .tab_container {
    padding: 0;
    position: fixed;
    transform: none;
    right: auto;
    bottom: auto;
    height: auto;
    display: block;
    width: auto;
    margin: 0;
    right: 4vw;
    top: 12vw;
  }

  .header {
    height: 35vw;
    transition: 1s;
  }

  .header-spacer {
    height: 35vw;
    transition: 1s;
  }

  #load_container {
    height: 35vw;
    padding-top: 35vw;
  }

  #welcome {
    font-size: 5vw;
    padding: 2vw;
  }

  #welcome, #blurb {
    position: static;
    margin: 0 auto;
    margin-top: 2vw;
    text-align: center;
  }

  #blurb {
    font-size: 4vw;
    width: 60vw;
  }

  #about_title {
    font-size: 6vw;
  }

  #about_content {
    font-size: 3vw;
    line-height: 5vw;
    margin-bottom: 10vw;
  }

  .container {
    padding-bottom: 10vw;
  }

  .content {
    line-height: 3.5vw;
    font-size: 2vw;
    margin-left: 2vw;
  }

  .text{
    display: block;
    width: 100%;
  }

  .image {
    display: block;
    max-width: 75%;
    max-height: none;
    margin: 0 auto;
    margin-top: 5vw;
  }

  .profile-pic {
    display: block;
    height: 30vw;
    width: 30vw;
    margin-top: 0;
    border-radius: 5vw;
  }

  .title {
    font-size: 5vw;
    letter-spacing: .5vw;
    line-height: normal;
    height: auto;
  }

  .right-align, .right-align h3, .right-align h4 {
    text-align: left;
  }

  /** CHURCHES **/
  .church-block {
    width: 60%;
    font-size: 3vw;
    line-height: normal;
    margin: 4vw 0 4vw 0;
  }

  .church-img img {
    border-radius: 5vw;

  }

  /** ANNOUNCEMENTS **/
  .announcements-container {
    width: 85%;
  }

  .contact {
    font-size: 3vw;
    padding: 3vw 6vw 1.5vw 6vw;
    margin-top: 3vw;
  }

  .announcements-image {
    max-height: 35vw;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: inherit;
  }

}
