html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: white;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
}

#load_container {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #ffb900; /*mustard*/
}

#welcome {
	position: absolute;
	width: 30vw;
	height: 5vw;
	background-color: #e2a400; /*dark mustard*/
	font-weight: 700;
	line-height: 5vw;
	color: white;
	text-align: center;
	border-radius: 5px;
	font-size: 3vw;
	right: 10vw;
	bottom: 12vw;
}

#blurb {
	position: absolute;
	width: 41vw;
	height: 10vw;
	color: white;
	border-radius: 5px;
	font-size: 2vw;
	right: 10vw;
	bottom: 0vw;
}

.header {
	position: fixed;
	width: 100%;
	height: 10vw;
	top: 0px;
	color: white;
}

.aacf {
	margin-top: 3vw;
	position: relative;
	font-size: 3vw;
	font-weight: 700;
	left: 10vw;
	letter-spacing: 2vw;
	height: auto;
	width: auto;
}

.berkeley {
	position: relative;
	font-size: 2vw;
	font-weight: 400;
	letter-spacing: .59vw;
	left: 9.7vw;
	height: auto;
	width: auto;
}

.tab_container {
	position: absolute;
	width: auto;
	height: 2vw;
	right: 10vw;
	bottom: 50%;
	transform: translateY(50%);
}
.tab {
	position: relative;
	float: left;
	width: auto;
	height: 2vw;
	margin-left: 2vw;
}

.tab:hover {
	cursor: pointer;
}

#about_container {
	position: relative;
	width: 100%;
	height: 20vw;
}

#about_title {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 5vw;
	color: #031c42; /*dark blue*/
	text-align: center;
	font-size: 3vw;
	font-weight: 700;
}

#about_content {
	position: relative;
	height: 10vw;
	width: 70vw;
	left: 50%;
	transform: translateX(-50%);
	top: 5vw;
	color: black;
	font-size: 1.5vw;
	margin: 2.5vw 0vw 5vw 0vw;
	margin-bottom: 5vw;
}

.container {
	position: relative;
	width: 80vw;
	height: 20vw;
	left: 50%;
	transform: translateX(-50%);
}

.image {
	width: 20vw;
	height: 10vw;
	position: relative;
	float: left;
	margin: 5vw 0vw 5vw 0vw;
}

.text {
	position: relative;
	float: left;
	width: 50vw;
	height: 20vw;
}

.title {
	position: relative;
	width: auto;
	height: 2vw;
	font-size: 2vw;
	color: #4f77bd; /*light blue*/
	margin: 5vw 0vw 2.5vw 0vw;
}

.content {
	position: relative;
	width: 100%;
	height: auto;
	font-size: 1.5vw;
	color: black;
}

.space {
	width: 5vw;
	position: relative;
	float: left;
	height: 100%;
}

.clearfix {
    overflow: auto;
}

.mailing_container {
	width: 100%;
	background-color: grey;
	height: 5vw;
	position: relative;
	margin-top: 5vw;
}

.inner_mailing_container {
	width: auto;
	height: 2.5vw;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 1vw;
}

.field {
	width: 20vw;
	height: 2.5vw;
	position: relative;
	float: left;
	border-radius: 5px;
	padding-left: 1vw;
	font-family: 'Montserrat', sans-serif;
}

.confirm {
	width: 10vw;
	height: 3vw;
	position: relative;
	float: left;
	border-radius: 5px;
	margin-left: 2.5vw;
	background-color: #4f77bd; /*light blue*/
	text-align: center;
	color: white;
	line-height: 3vw;
	box-shadow: 1px 1px 5px #031c42;
}

.confirm:hover {
	cursor: pointer;
}

.bullshit_asuc_requirement {
	position: relative;
	width: 100%;
	height: 2.5vw;
	text-align: center;
	background-color: #031c42; /*dark blue*/
	font-size: .5vw;
	line-height: 2.5vw;
	color: rgba(255,255,255, 0.4);
}