html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #fffdf9; /*hint of mustard*/
	overflow-x: hidden;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
	font-size: 1.25vw;
	line-height: 1.7vw;
}

a {
	text-decoration: none;
	color: inherit;
}

#load_container {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #FFB819; /*mustard*/
}

#welcome {
	position: absolute;
	width: 30vw;
	height: 5vw;
	background-color: #F5A623; /*dark mustard*/
	font-weight: 700;
	line-height: 5vw;
	color: #fffdf9; /*hint of mustard*/
	text-align: center;
	border-radius: 2px;
	font-size: 3vw;
	right: 14vw;
	bottom: 18vw;
}

#blurb {
	position: absolute;
	width: 41vw;
	height: 10vw;
	color: #fffdf9; /*hint of mustard*/
	border-radius: 5px;
	font-size: 2vw;
	right: 14vw;
	bottom: 6vw;
	text-align: right;
	line-height: normal;
}

.header {
	position: fixed;
	width: 100%;
	height: 10vw;
	top: 0px;
	color: #fffdf9; /*hint of mustard*/
	text-transform: uppercase;
}

.aacf {
	margin-top: 3vw;
	position: relative;
	font-size: 3vw;
	font-weight: 700;
	left: 10vw;
	letter-spacing: 2vw;
	height: auto;
	width: auto;
	line-height: normal;
}

.berkeley {
	position: relative;
	font-size: 2vw;
	font-weight: 400;
	letter-spacing: .59vw;
	left: 9.7vw;
	height: auto;
	width: auto;
}

.tab_container {
	position: absolute;
	width: auto;
	height: 2vw;
	right: 10vw;
	bottom: 50%;
	transform: translateY(50%);
}
.tab {
	position: relative;
	float: left;
	width: auto;
	height: 2vw;
	margin-left: 2vw;
}

.tab : hover {
	cursor: pointer;
}

#about_container {
	position: relative;
	width: 100%;
	height: 20vw;
}

#about_title {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 5vw;
	color: #031c42; /*dark blue*/
	text-align: center;
	font-size: 3vw;
	font-weight: 700;
}

#about_content {
	position: relative;
	height: 10vw;
	width: 70vw;
	left: 50%;
	transform: translateX(-50%);
	top: 5vw;
	color: #211600; /*burnt mustard*/
	font-size: 1.5vw;
	margin: 2.5vw 0vw 5vw 0vw;
	margin-bottom: 5vw;
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
	font-size: 1vw;
}

.image {
	display: inline-block;
	max-width: 35%;
	max-height: 30vw;
	width: auto;
	height: auto;
	margin: 9.5vw 5% 0 5%;
	vertical-align: top;
}

.text {
	width: 45%;
	height: auto;
	display: inline-block;
}

.text a {
	text-decoration: underline;
}

.right-align {
	text-align: right;
}

.title {
	position: relative;
	width: auto;
	height: 2vw;
	font-size: 2vw;
	color: #4f77bd; /*light blue*/
	margin: 5vw -1vw 2.5vw -1vw;
}

.content {
	position: relative;
	width: 100%;
	height: auto;
	font-size: 1.25vw;
	color: #211600; /*burnt mustard*/
	line-height: 1.7vw;
}

.mailing_container {
	width: 100%;
	background-color: #94a2b7;
	height: 5vw;
	margin-top: 5vw;
	text-align: center;
}

.field {
	width: 20vw;
	height: 2.5vw;
	display: inline-block;
	border-radius: 5px;
	margin: 1vw 1vw 1vw 0;
	font-family: inherit;
	font-size: inherit;
	background-color: #fffdf9; /*hint of mustard*/
	padding-left: 1vw;
}

.confirm {
	width: 10vw;
	height: 3vw;
	display: inline-block;
	border-radius: 5px;
	margin: 1vw 0 1vw 1vw;
	background-color: #4f77bd; /*light blue*/
	text-align: center;
	color: #fffdf9; /*hint of mustard*/
	border: solid 2px #4f77bd;
	line-height: 3vw;
	vertical-align: middle;
}

.confirm : hover {
	cursor: pointer;
	border: solid 2px #fffdf9;
	background-color: #7391c4;
	transition: 0.5s;
}

footer {
  background: #031c42; /*dark blue*/
  color: #395a8e;
  text-align: center;
  padding: 1.25vw 10% 1.25vw 10%;
  transition: 0.5s;
  font-size: 1vw;
	line-height: normal;
	font-style: inherit;
  float: bottom;
	cursor: default;
}

footer : hover {
    color: #fffdf9; /*hint of mustard*/
}
